@tailwind components;

@layer components {

    .leo-intro picture.toyota img {
        @apply -mt-20 768:mt-[-30vw] 1024:mt-0
    }
    .leo-intro picture.hyundai {
        @apply max-w-[133svh]
    }
    .leo-intro picture.hyundai img {
        @apply -mt-8 768:mt-0 1024:mt-0
    }
    .leo-intro picture.hyundai + div {
        @apply -mt-9 768:mt-0
    }

    .leo-message span:hover svg path {
        @apply fill-accent
    }
    .leo-message span svg:nth-child(1) {
        @apply 1100:w-5 1100:h-auto
    }
    .leo-message span svg:nth-child(2) {
        @apply hidden
        1100:w-3.5 1100:h-3.5
    }
    .leo-message.open span svg:nth-child(1) {
        @apply hidden
    }
    .leo-message.open span svg:nth-child(2) {
        @apply block
    }
    .leo-message.open ul {
        @apply !opacity-100 !visible
    }

    .pulsating:hover:after {
        @apply bg-[url('../images/svg/call-accent.svg')]
    }
}

.scroll-top.active {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
	transform: translateY(0);
}

.leo-message ul {
    transition: all .2s ease-in-out;
    transform: translate3d(0, -20%, 0);
}
.leo-message.open ul {
    transform: translate3d(0, 0, 0);
}

.pulsating:before {
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}
.pulsating:after {
    background-size: 24px;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
}
@keyframes pulse-ring {
    0% {
        transform: scale(.33);
    }
    80%, 100% {
        opacity: 0;
    }
}
@keyframes pulse-dot {
    0% {
        transform: scale(.8);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(.8);
    }
}