@tailwind components;

@layer components {
    .leo-announcement.hidden {
        display: none;
    }
    .mm-contact svg path {
        @apply fill-accent
    }

    .leo-logo svg {
        @apply block h-full w-auto
    }

   .mobile-menu {
       transform: translate3d(0, 0, 0);
       transition: opacity .6s ease, transform .6s ease, visibility 0s linear .6s;
   }
    body.menu-open .mobile-menu {
        transform: translate3d(100%, 0, 0);
        transition: opacity .6s ease, transform .6s ease, visibility 0s linear;
        @apply visible opacity-100
    }
    body.menu-open .leo-burger svg rect.open-hide {
        @apply fill-transparent
    }


    ul.leo-navigation {
        @apply flex flex-row justify-end gap-x-6 1100:gap-x-9
    }
    ul.leo-navigation li {
        @apply relative
    }
    ul.leo-navigation li a {
        @apply relative block text-base/[1.6] whitespace-nowrap transition duration-100 hover:opacity-70
    }
    ul.leo-navigation li.active {
        @apply pointer-events-none hover:opacity-100 before:content-[''] before:block before:h-px before:w-8 before:bg-white before:absolute before:-bottom-1.5 before:left-[50%] before:-ml-4
    }

}
