@font-face {
    font-family: 'Evolventa-Regular';
    src: url(../fonts/Evolventa-Regular.ttf) format('ttf'),
    url(../fonts/Evolventa-Regular.woff2) format('woff2');
    font-weight: normal;
}
@font-face {
    font-family: 'Evolventa-Bold';
    src: url(../fonts/Evolventa-Bold.ttf) format('ttf'),
    url(../fonts/Evolventa-Bold.woff2) format('woff2');
    font-weight: normal;
}